<h1 class="my-3 text-primary">
  Lista de Perguntas
</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:100px;">Passo</th>
        <th style="width:310px;">Pergunta</th>
        <th style="width:145px; padding-right: 95px;"><a class="btn btn-success me-1" routerLink="/config/record-question" title="Cadastrar Pergunta"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let q of questions">
        <td>
          <input type="number" name="step" #qStep class="form-control" value="{{q.step}}" (blur)="updateArray(q, $event)">
        </td>
        <td>
          <input type="text" name="question" maxlength="40" #qQuestion_dsc class="form-control" value="{{q.question_dsc}}" (blur)="updateArray(q, $event)">
        </td>
        <td>

          <a class="btn btn-success me-1"
          *ngIf="!(q.question_dsc == '') && !(q.step == '')"
          (click)="updateQuestion(q)">
            <i class="fa fa-save" aria-hidden="true"></i>
          </a>

          <a class="btn btn-warning me-1" routerLink="/config/list-answer/{{q.id}}"
          *ngIf="!(q.question_dsc == '') && !(q.step == '')"
          >
            <i class="fa fa-edit" aria-hidden="true"></i>
          </a>

          <a class="btn btn-danger" (confirm)="deleteQuestionById(q)"
          [swal]="{
            title: 'ATENÇÃO',
            text: 'Deseja realmente excluir a pergunta? ',
            showDenyButton: true,
            denyButtonText: 'Não',
            confirmButtonText: 'Sim, excluir.', icon: 'warning'
          }"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


