<!DOCTYPE html>
<html lang="en">

<body>

  <div class="container">

    <div class="row ">
      <div class="col p-2 mt-4 col-banner">

        <img class="mb-4" [src]="'assets/img/bootstrap-logo.svg'"  width="72" height="57">
        <p class="text-center">Cervejas Especiais</p>

      </div>
    </div>

    <div class="row">

      <div class="col p-2 mt-4 ">
        <div class="card" style="width: 18rem;">
          <img [src]="'assets/img/cerveja.jpg'"  class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">
              Cerveja IPA
            </p>
          </div>
        </div>
      </div>

      <div class="col p-2 mt-4">
        <div class="card" style="width: 18rem;">
          <img [src]="'assets/img/cerveja.jpg'"  class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">
              Cerveja Pilsen
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col p-2 mt-4">
        <div class="card" style="width: 18rem;">
          <img [src]="'assets/img/cerveja.jpg'"  class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">
              Cerveja Stout
            </p>
          </div>
        </div>
      </div>

      <div class="col p-2 mt-4">
        <div class="card" style="width: 18rem;">
          <img [src]="'assets/img/cerveja.jpg'"  class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">
              Cerveja Premium Lager
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>



  <section>

      <button class="chat-btn-close" (click)="fnCloseChatBtn()" *ngIf="!showChatBtn">
          <i class="fa fa-times"></i>
      </button>

      <button class="chat-btn" (click)="fnShowChatBtn()" *ngIf="showChatBtn">
          <i class="fa fa-comment"></i>
      </button>


      <div class="chat-popup" *ngIf="showPopup">
          <div class="chat-area" #scrollMe [scrollTop]="scrollMe.scrollHeight">

            <div class="answer-div" *ngIf="conversationList.length == 0"><i class="fa fa-spinner"></i></div>

            <div  *ngFor="let m of conversation">

                <div class="income-msg" *ngIf="!m.final_answer">
                  <img src="assets/img/avatar-1.png" class="avatar avatar-1" >
                  <div class="msg" >
                    {{m.question_dsc}}
                  </div>
                </div>

                <div class="out-msg" *ngIf="m.final_answer && step == -1">
                  <div class="my-msg" >
                    {{m.question_dsc}}
                  </div>
                </div>

                <div class="suggestion-div" *ngIf="m.final_answer && step > 1">
                  <div class="my-msg" >
                    {{m.question_dsc}}
                  </div>
                </div>

                <div  class="answer-div" *ngIf="m.answers" >
                  <button class="answer answer-{{m.id}}" name="{{a.id}}" *ngFor="let a of m.answers" (click)="answerChosen(m,a, $event)">{{a.answer_dsc}}</button>
                </div>

            </div>
          </div>

          <div class="input-area">
              <input type="text" name="msg" [(ngModel)]="msg"  readonly>

              <button class="submit"  [disabled]="true"> <i class="fa fa-paper-plane"></i></button>
          </div>
      </div>
  </section>




</body>
</html>
