*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  border:none;
  outline: none;
  cursor: pointer;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

section{
  max-width: 1100px;
  margin: auto;
  text-align: center;
  padding: 0 1rem;
}
h1{
  font-size: 3rem;
  margin-bottom: 2rem;
}

.row{
  width: 700px;
  display: flex;
  margin: 0 auto;
}

p{
  font-size: 2rem;
}

.card-text{
  font-size: 1rem;
}

.chat-btn{
  position: fixed;
  right:50px;
  bottom: 50px;
  background: dodgerblue;
  color: white;
  width:60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 0.3s;
  box-shadow: 0 5px 5px #000;
  font-size: 30px;
}

.chat-btn:hover, .submit:hover, #emoji-btn:hover{
  opacity: 1;
}

.chat-popup{
  position: fixed;
  bottom:80px;
  right:120px;
  height: 400px;
  width: 350px;
  background-color: white;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
  border-radius: 10px;
}



.chat-area{
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.income-msg{
  display: flex;
  /* align-items: center; */
  margin-bottom: 10px;
  font-size: 15px;
}

.avatar{
  width:45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.msg{
  display: inline;
  width: 100%;
}

.income-msg .msg{
  background-color: #0d6efd;
  color: white;
  padding:0.5rem;
  border-radius: 25px;
  margin-left: 0.5rem;
  box-shadow: 0 1px 1px #000;
  line-height: 16px;
}

.out-msg .my-msg{
  background-color: #ddd;
  color: black;
  padding:0.5rem;
  border-radius: 25px;
  margin-left: 0.5rem;
  box-shadow: 0 2px 5px #000;
  width: 96%;
  margin-bottom: 10px;
}

.suggestion-div .my-msg{
  background-color: #198754;
  color: white;
  padding:0.5rem;
  border-radius: 25px;
  margin-left: 0.5rem;
  box-shadow: 0 2px 5px #000;
  width: 96%;
  margin-bottom: 10px;
}


.answer{
  background-color: #a0a0a0;
  color: white;
  padding:0.5rem;
  border-radius: 5px;
  margin-left: 1rem;
  box-shadow: 0 1px 2px #000;
}

.answer-div{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.input-area{
  position: relative;
  display: flex;
  justify-content: center;
}

input[type="text"]{
  width:100%;
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: 5px;
  height: 2.2rem;
}

.submit{
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  background-color: green;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  opacity: 0.7;
}





@media (max-width:500px){

  .chat-popup{
      bottom: 120px;
      right:5%;
      width: 90vw;
  }

  .out-msg{
    font-size: 16px;
  }

  .income-msg{
    font-size: 14px;

  }

  .row{
    width: 90%;
  }


}
